.welcome {
  height: 100vh;
  overflow-y: hidden;
  background-color: #ffffff;
}

///////////////

.welcomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.welcomeTitle {
  font-family: "Sedgwick Ave Display";
  font-weight: 400;
  font-size: 130px;
  line-height: 168px;
  letter-spacing: 0.06em;
  margin-bottom: 95px;
  color: #000000;
}

.welcomeBtnWrapper {
  display: flex;
  align-items: center;
}
.welcomeYesBtn {
  width: 122px;
  height: 78px;
  background: #ffffff;
  border: 1px solid #a3a3a3;
  margin-right: 100px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #000000;
    border: 1px solid #a3a3a3;
  }
}
.welcomeBtn {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.125em;
  color: #c61600;

  cursor: pointer;
}

.welcomeNoBtn {
  border: none;
  background: none;
}
